doctype html
html(lang="en")
head
    title WikiLatic
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="main.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet' href='css/main.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css")

body(data-spy="scroll" data-target="#scrollSpy")
    nav.navbar.navbar-default
        div.navbar-header
            a.navbar-brand Data Analytic Web Application (WikiLatic)
        div
            p.navbar-text(style="float:right") User: #{email}
    div#scrollSpy.col-md-2
        ul#sideNav.nav.nav-tabs.nav-stacked
            li.active
                a(href="#section1") Overall Analytics
            li
                a(href="#section2") Individual Article Analytics
            li
                a(href="#section3") Author Analytics
    div.col-md-10
        div.panel.panel-info
            div.panel-heading
                h3#section1.panel-title Overall Analytics
            table.table.table-hover
                tbody
                    tr
                        td The articles with highest number of revisions:
                        td
                            ul#mostRevs
                    tr
                        td The articles with lowest number of revisions:
                        td
                            ul#leastRevs
                    tr
                        td The number of articles with highest and lowest number of revisions to display:
                        td.input-group
                            input#revNumInput(type='number'
                                            min=1
                                            value=3
                                            data-container="body"
                                            data-toggle="popover"
                                            data-trigger=""
                                            data-placement="top"
                                            data-content="Invalid input, at least 1").form-control
                            span.input-group-btn
                                button#revNumBtn.btn.btn-info Change
                    tr
                        td The article edited by largest group of registered users:
                        td#largeGp
                    tr
                        td The article edited by smallest groups of registered users:
                        td#smallGp
                    tr
                        td The top 3 articles with the longest history (measured by age):
                        td
                            ul#longHis
                    tr
                        td The article with the shortest history (measured by age):
                        td#shortHis
                    tr
                        td(colspan=2)
                            select#chartList.col-md-6
                                option(value=-1) Select Chart Type
                                option(value=0) Bar Chart
                                option(value=1) Pie Chart
                    tr
                        td(colspan=2)
                            div#overallChart

        div.panel.panel-info
            div.panel-heading
                h3#section2.panel-title Individual Article Analytics
            table.table.table-hover
                tr
                    td#alert(colspan=2)
                tr
                    td.col-md-6
                        select#articleList(style="")
                            option(value=-1) Select Article
                    td
                        div.input-group
                            input#titleInput(type='text' placeholder='Or enter an article title here...' style="").form-control
                            span.input-group-btn
                                button#titleBtn.btn.btn-info Search
                tr
                    td Title:
                    td#SelectedTitle
                tr
                    td Total number of revisions:
                    td#SelectedRevisions
                tr
                    td Top 5 users:
                    td#SelectedTop5
                tr
                    td(colspan=2)
                        div.col-md-3
                            select#chartType
                                option(value=-1) Select Chart Type
                                option(value=0) Bar Chart
                                option(value=1) Pie Chart
                                option(value=2) Bar Chart By Top5 Users
                        div#checkboxArea.col-md-6
                        div.col-md-3
                            button#submit(style='').btn.btn-info Draw
                tr
                    td(colspan=2)
                        div#IndividualChart

        div.panel.panel-info
            div.panel-heading
                h3#section3.panel-title Author Analytics
            table.table.table-hover
                tr
                    td.input-group
                        input#authorInput(type='text' placeholder='Enter author name here...').form-control
                        span.input-group-btn
                            button#authorBtn.btn.btn-info Search
                tr
                    td#selectedAuthor Author:
                tr
                    td#authorArticlesList Articles list below:
                tr
                    td
                        div#accordion.panel-group